In [2]:
import matplotlib as plt
import pandas as pd

In [3]:
#Function returns number of rows and columns
def row_col_df(data_frame):
    n_row = len(data_frame.axes[0])
    n_column = len(data_frame.axes[1])
    return n_row, n_column

#stores the github links as strings
ato_income_source = 'https://raw.githubusercontent.com/MinhPhamAus/aus_income/master/ato_income.csv'
abs_d_sal2_source = 'https://raw.githubusercontent.com/MinhPhamAus/aus_income/master/ABS_D_SAL2.csv'

In [4]:
#sets the column headers to the first row and creates common_cols list for all other pandas tables
ato_income = pd.read_csv(ato_income_source)
ato_income.columns = ato_income.iloc[0]
ato_income = ato_income[1:]

common_cols = list(range(0,2))

In [23]:
#Create Median Age of Earners Table: md_age_earners
md_age_earners_cols = (list(range(8, 8+7)))
md_age_earners_cols = common_cols + md_age_earners_cols
md_age_earners = ato_income.iloc[1:, md_age_earners_cols]
md_age_earners = md_age_earners[md_age_earners.SA2.notnull()]

In [24]:
#Create number Earners Table: no_earners
no_earners = ato_income.iloc[1:, 0:8]
no_earners = no_earners[no_earners.SA2.notnull()]

In [11]:
#Create sum_earnings Table
sum_earnings_cols = (list(range(14, 14+6)))
sum_earnings_cols = common_cols + sum_earnings_cols
sum_earnings = ato_income.iloc[1:, sum_earnings_cols]
sum_earnings = sum_earnings[sum_earnings.SA2.notnull()]

0               SA2  ...           2016-17
2   New South Wales  ...  283,275,046,025
3         101021007  ...      115,564,780
4         101021008  ...      311,923,113
5         101021009  ...      395,374,979
6         101021010  ...      211,520,090
7         101021011  ...      875,609,556
8         101021012  ...      667,990,366
9         101031013  ...       79,115,739
10        101031014  ...      195,032,875
11        101031015  ...      105,189,628

[10 rows x 8 columns]

In [17]:
#Create median_earn Table
median_earnings_cols = (list(range(20, 20+6)))
median_earnings_cols = common_cols + median_earnings_cols
median_earnings = ato_income.iloc[1:, median_earnings_cols]
median_earnings = median_earnings[median_earnings.SA2.notnull()]

In [22]:
#Create mean_earn Table
mean_earn_cols = (list(range(26, 26+6)))
mean_earn_cols = common_cols + mean_earn_cols
mean_earn = ato_income.iloc[1:, mean_earn_cols]
mean_earn = mean_earn[mean_earn.SA2.notnull()]

In [8]:
print(df2.head())

NameError: ignored