In [1]:
import matplotlib as plt
import pandas as pd

from google.colab import files
uploaded = files.upload()

ImportError: No module named 'google.colab'

In [136]:
#Function returns number of rows and columns
def row_col_df(data_frame):
    n_row = len(data_frame.axes[0])
    n_column = len(data_frame.axes[1])
    return n_row, n_column

#read the csv file.  Needs to be in the same directory

#sets the column headers to the first row
ato_income = pd.read_csv('ato_income.csv')
ato_income.columns = ato_income.iloc[0]
ato_income = ato_income[1:]

abs_d_sal2 = pd.read_csv('abs_d_sal2.csv')
abs_d_sal2.columns = abs_d_sal2.iloc[0]
abs_d_sal2 = abs_d_sal2[1:]


md_cols = list(range(0,2))
md_cols.extend(range(9, 9+6))

#earn_cols.append(10)
print(md_cols)


earnings = ato_income.iloc[1:,0:8]  
median_earners = ato_income.iloc[1:,md_cols] 

#list(range(2, 8))
#print(list(range(2, 8)))

earnings.head(10)
#index_df = row_col_df(ato_income)

#earnings = ato_income.iloc[1:, [0,5,6]]

#list.append(item)

#new_frame = data_frame.loc[:, column_names]

#data.iloc[:, 0:2] # first two columns of data frame with all rows
#data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.



#new = old[['A', 'C', 'D']].copy()

#index_df[0]

[0, 1, 9, 10, 11, 12, 13, 14]

,SA2,SA2 NAME,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
2,New South Wales,NaN,"3,824,011","3,871,906","3,953,705","4,091,347","4,191,542","4,344,997"
3,101021007,Braidwood,"1,966","2,025","2,098","2,133","2,153","2,262"
4,101021008,Karabar,"5,026","4,972","4,789","4,866","4,937","4,988"
5,101021009,Queanbeyan,"6,155","6,139","6,049","6,194","6,419","6,486"
6,101021010,Queanbeyan - East,"2,898","2,940","2,924","2,971","3,106","3,230"
7,101021011,Queanbeyan Region,"8,775","8,959","9,211","9,768","10,381","11,532"
8,101021012,Queanbeyan West - Jerrabomberra,"7,679","7,778","7,843","8,067","8,039","8,272"
9,101031013,Bombala,"1,355","1,365","1,384","1,358","1,301","1,365"
10,101031014,Cooma,"3,759","3,746","3,752","3,711","3,680","3,800"
11,101031015,Cooma Region,"1,712","1,767","1,794","1,823","1,832","1,926"

In [22]:
print(df2.head())

        Unnamed: 0  Unnamed: 1 Earners (persons)   Unnamed: 3   Unnamed: 4  \
1       Australia          NaN       12,268,900   12,449,976   12,703,715
2  New South Wales         NaN        3,824,011    3,871,906    3,953,705
3        101021007   Braidwood            1,966        2,025        2,098
4        101021008     Karabar            5,026        4,972        4,789
5        101021009  Queanbeyan            6,155        6,139        6,049

    Unnamed: 5   Unnamed: 6   Unnamed: 7 Median age of earners (years)
1  13,102,895   13,358,252   13,678,024                            42
2   4,091,347    4,191,542    4,344,997                            42
3       2,133        2,153        2,262                            50
4       4,866        4,937        4,988                            42
5       6,194        6,419        6,486                            39