In [1]:
import matplotlib as plt
import pandas as pd

In [15]:
#Function returns number of rows and columns
def row_col_df(data_frame):
    n_row = len(data_frame.axes[0])
    n_column = len(data_frame.axes[1])
    return n_row, n_column

#stores the github links as strings
ato_income_source = 'https://raw.githubusercontent.com/MinhPhamAus/aus_income/master/ABS_D_SAL2.csv'
abs_d_sal2_source = 'https://raw.githubusercontent.com/MinhPhamAus/aus_income/master/ABS_D_SAL2.csv'

In [24]:
#sets the column headers to the first row
ato_income = pd.read_csv(ato_income_source)
ato_income.columns = ato_income.iloc[0]
ato_income = ato_income[1:]

common_cols = list(range(0,2))

md_age_earners = common_cols.extend(range(9, 9+6))
sum_earn_col = common_cols.extend(range(14, 14+6))
median_dollar = common_cols.extend(range(20, 20+6))
mean_dollar = common_cols.extend(range(26, 26 + 6))

ato_income.head(10)

#earn_cols.append(10)
#print(md_age_earners)

earnings = ato_income.iloc[1:,0:8]  



#median_earners = ato_income.iloc[1:,md_age_earners] 


#list(range(2, 8))
#print(list(range(2, 8)))

earnings.head(10)
#index_df = row_col_df(ato_income)

#earnings = ato_income.iloc[1:, [0,5,6]]

#list.append(item)

#new_frame = data_frame.loc[:, column_names]

#data.iloc[:, 0:2] # first two columns of data frame with all rows
#data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.



#new = old[['A', 'C', 'D']].copy()

#index_df[0]

0   101021007  11007  ...  Capital Region  1RNSW
2   101021009  11009  ...  Capital Region  1RNSW
3   101021010  11010  ...  Capital Region  1RNSW
4   101021011  11011  ...  Capital Region  1RNSW
5   101021012  11012  ...  Capital Region  1RNSW
6   101031013  11013  ...  Capital Region  1RNSW
7   101031014  11014  ...  Capital Region  1RNSW
8   101031015  11015  ...  Capital Region  1RNSW
9   101031016  11016  ...  Capital Region  1RNSW
10  101041017  11017  ...  Capital Region  1RNSW
11  101041018  11018  ...  Capital Region  1RNSW

[10 rows x 8 columns]

In [ ]:
#overflow items

#abs_d_sal2 = pd.read_csv(abs_d_sal2_source)
#abs_d_sal2.columns = abs_d_sal2.iloc[0]
#abs_d_sal2 = abs_d_sal2[1:]

In [ ]:
print(df2.head())

        Unnamed: 0  Unnamed: 1 Earners (persons)   Unnamed: 3   Unnamed: 4  \
1       Australia          NaN       12,268,900   12,449,976   12,703,715
2  New South Wales         NaN        3,824,011    3,871,906    3,953,705
3        101021007   Braidwood            1,966        2,025        2,098
4        101021008     Karabar            5,026        4,972        4,789
5        101021009  Queanbeyan            6,155        6,139        6,049

    Unnamed: 5   Unnamed: 6   Unnamed: 7 Median age of earners (years)
1  13,102,895   13,358,252   13,678,024                            42
2   4,091,347    4,191,542    4,344,997                            42
3       2,133        2,153        2,262                            50
4       4,866        4,937        4,988                            42
5       6,194        6,419        6,486                            39